/* MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST */
/* MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST */
/* MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST */
/* MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST */
/* MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST MOBILE FIRST */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container,
.img-container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 10px;
}

.img-container {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #001f4d;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  color: #cc4425;
  font-family: "Lucida Sans", "Geneva", sans-serif;
  font-size: 2.5rem;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 1.5rem;
}

h2 {
  color: #ddd;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

/* Media queries - MÅSTE ligga längst ner! */

/* Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet */
/* Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet */
/* Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet */
/* Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet */
/* Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet Tablet */

/* Ändra färgen på h1 och gör texten större */
/* P gör texten lite större */

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    color: #25cc5f;
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

/* Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop */
/* Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop */
/* Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop */
/* Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop */
/* Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop Desktop */

/* Ändra färgen på h1 och gör texten ännu större */
/* P gör texten ännu större */
/* Lägg bilden och första texten bredvid varann */

@media (min-width: 1025px) {
  h1 {
    color: #5425cc;
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .img-container {
    display: flex;
    align-items: center; /* ← detta centrerar vertikalt */
  }

  /* Jag vill att bilden och texten ska nu ligger 'bredvid' varann! */
  .img-container {
    display: flex;
    width: 100%;
  }

  .img-container img,
  .img-container p {
    flex: 1; /* Delar upp utrymmet lika mellan bilden och texten */
  }

  .img-container p {
    text-align: left;
  }
}
